
.sidebar{
    background-color:#3A4256;
    height: 100vh;
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
    list-style: none;
    font-size:25px;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}